<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon">
        <i class=" 	fa fa-rocket"></i>
      </div>
      <div class="sidebar-brand-text mx-3 ">TRAPTCHA<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class=" 	fa fa-dashboard" style="font-size: large;"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link " href="/documentation">
        <i class="fa fa-book"></i>
        <span>Documentation</span>
      </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link " href="/apikey"  >
        <i class="fa fa-key"></i>
        <span>API Key</span>
      </a>
     
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Product -->
    <li class="nav-item">
      <a class="nav-link " href="#"  >
        <i class="fa fa-fw fa-folder"></i>
        <span>Products</span>
      </a>
      
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fa fa-user"></i>
        <span>Profile report</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fa fa-envelope"></i>
        <span>Contact us</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->